;;; Author: chiku (Takehiko Nawata, samugari@is.s.u-tokyo.ac.jp)

;;; Put one or more semicolon for end-of-line style comments.

;;; Set ^z to the escape key.
escape ^z^z

{raw screen
  [^z]
}

;;; Set up hardstatus string
hardstatus-string %030=%{B.} %{-}%-w%{=b Mw}%{+u}%{+s}%n %t%{-}%{-}%{-}%+w%{B.} %{-}%=%m/%d %02c

;;; Some key bindings behaves similar to the pre-bound key bindings in terms
;;; of mode transition.
{screen raw
  [w windowlist -b]
  ["^]" paste "."]
  [t title]
  [^v digraph]
}

;;; r and ^r activates normal mode, if the current mode is screen mode.
{screen normal
  [r]
  [^r]
}

;;; Key bindings in normal mode. These keys stays at normal mode after the
;;; execution of bound commands. Therefore, You can continuously input the commands.
{normal normal
  ; focus movement
  [j focus down]
  [k focus up]
  [l focus right]
  [h focus left]
  [^i focus next]
  [s split ! focus down ! other ! focus up]
  [v split -v ! focus right ! other ! focus left]
  [d remove]
  [o only]
  ; resize
  [+ resize -l -v "+1"]
  [- resize -l -v -1]
  [= resize -l =]
  [< resize -l -h -1]
  [> resize -l -h "+1"]
  ; window select
  [^p prev]
  [^n next]
  ; others
  [c screen]
  [^l redisplay]
  [t title]
  [":" colon]
  [^v digraph]
}

;;; Similar to the entry above, but these key bindings leave the normal
;;; mode after the execution of bound commands.
{normal raw
  ; window selection
  [0 select 0]
  [1 select 1]
  [2 select 2]
  [3 select 3]
  [4 select 4]
  [5 select 5]
  [6 select 6]
  [7 select 7]
  [8 select 8]
  [9 select 9]
  [w windowlist -b]
  ; others
  ["^[" copy]
}

; layout
{normal normal
  [L layout new]
  [P layout prev]
  [N layout next]
  [D layout remove]
#| This is a block comment.
  [ layout title]
  [ layout number]
  [ layout show]
  [ layout select]
|#
}
